html{
    background-color: black;
}
 body {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  border: none;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root{
  width:50%;
  height: 550px;
}
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}
.small {
  font-weight: 300;
  font-style: italic;
}
.backgroundBody{
  height: 50%;
  width: 100%;
}
.card{
border:none;
}

.mainCard1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
.mainCard2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
.main1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnCard{
  border: none;
  margin: 15px;
}
.loginBtn{
background-color: green;
margin-right: 10px;

}
.signUpBtn{
  background-color: green;
  margin-left: 10px;
}
/* media queries */
@media (min-width: 100px) and (max-width: 1000px) {
  #root{
    width: auto;
    height: 200px;
  }
}

/* cool stuff */
.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}
