html{
    background-color: black;
}
#root{
height: 100vh;
width: 100%;
}
.backgroundBody{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
 body {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  border: none;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* WELCOME,LOGIN, SIGNUP SCREEN STYLES */
.welcomeCard, .loginCardBody, .signupCardBody{
width: 40%;
box-shadow:  5px 5px 30px rgb(86, 86, 86);
background: none;
border-radius: 20px;



}
.welcomeCardStyle, .loginCardStyles, .signupCardStyles{
  display: flex;
  align-items: center;
  border-radius: 20px;

}

/*  */
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}
.small {
  font-weight: 300;
  font-style: italic;
}

.card{
border:none;
}

.mainCard1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
.mainCard2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
.main1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnCard{
  border: none;
  margin: 15px;
}
.loginBtn{
background-color: green;
margin-right: 10px;

}
.signUpBtn{
  background-color: green;
  margin-left: 10px;
}
/* media queries */
@media (min-width: 100px) and (max-width: 1000px) {
  #root{
    width: auto;
    height: 200px;
  }
}

/* cool stuff */
.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

